<header>
    <h1>
        <span>Sarchi's</span> <span>Computers</span>
    </h1>

    <nav>
        <ul>
            <li>
                <a>Produtos</a>
            </li>
            <li>
                
                <a>Carrinho <i class="fa-solid fa-cart-shopping"></i> </a>
            </li>
            <li>
                <a>Contato</a>
            </li>
            <li>
                <a>FACEBOOK</a>
            </li>
            <li>
                <a>Instagram</a>
            </li>
            <li>
                <a>twitter</a>
            </li>
            <li>
                <a>LINKEDIN</a>
            </li>
        </ul>
    </nav>
</header>